{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="/static/cv.css" />
<title>Sebastien Dasys | CV</title>
{% endblock %}

{% block content %}
<div class="wrapper basewidth">
    <div class="page">
        <div class="header">
            <h2>Sebastien <span>Dasys</span></h2>
            <p>sebastien.dasys@polymtl.ca</p>
            <p>(+1) 705-988-4909</p>
        </div>
        <div class="left">
            <h3>{{ wording['cv']['headers'][0] }}</h3>
            <ul>
                {% for bullet in wording['cv']['summary'][jobType] %}
                    <li>{{ bullet }}</li>
                {% endfor %}
            </ul>


            <h3>{{ wording['cv']['headers'][1] }}</h3>
            {% for experiences in wording['cv']['experiences'] %}
            <h4>{{ experiences['title'] }}</h4>
            <h5>{{ experiences['header'] }}</h5>
            <ul>
                {% for bullet in experiences['bullets'] %}
                <li>{{ bullet }}</li>
                {% endfor %}
            </ul>
            {% endfor %}


        </div>
        <div class="right">
            <h4>{{ wording['cv']['headers'][2] }}</h4>
            {% for bullet in wording['cv']['skills'] %}
                <p>{{ bullet }}</p>
            {% endfor %}
            <br><br>

            <h4>{{ wording['cv']['headers'][3] }}</h4>
            <p>{{ wording['cv']['languages']['fr'] }}</p>
            <p style="font-weight: 200;">{{ wording['cv']['languages']['mastery'] }}</p>
            <p>{{ wording['cv']['languages']['type'] }}</p>
            <br />
            <p>{{ wording['cv']['languages']['en'] }}</p>
            <p style="font-weight: 200;">{{ wording['cv']['languages']['mastery'] }}</p>
            <p>{{ wording['cv']['languages']['type'] }}</p>

            <br>

            <h4>{{ wording['cv']['headers'][4] }}</h4>
            <p>Polytechnique Montréal</p>
            <p style="font-weight: 200;">{{ wording['cv']['education'] }}</p>
            <p>2020-2025</p>
            <br />
            <p>Test-Driven Development with Python, Flask, and Docker</p>
            <p style="font-weight: 200;">testdriven.io</p>
            <p>2019</p>
        </div>
        
    </div>
</div>

<script>
    document.addEventListener('scroll', () => {
        var scrollPos = window.scrollY;
        document.documentElement.dataset.scroll = scrollPos;
    });
</script>
{% endblock %}