{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="/static/cv.css" />
{% endblock %}

{% block content %}
<div class="wrapper basewidth">
    <div class="page">
        <div class="header">
            <h2>Sebastien <span>Dasys</span></h2>
            <p>sebastien.dasys@polymtl.ca</p>
            <p>(+1) 705-988-4909</p>
        </div>
        <div class="left">
            <h3>Sumary</h3>
            <ul>
                <li>Spent three years developing webapps</li>
                <li>Knows the basics of a wide range of stacks</li>
            </ul>


            <h3>Experience</h3>

            <h4>Full stack dev</h4>
            <h5>Objectivity <span>| summer 2021 and 2022</span></h5>
            <ul>
                <li>Built a range of microservices from crud's for databases, a react frontend to restful hooks.</li>
                <li>Created a VTK visualiser to display geological information</li>
                <li>Used linear algebra and genetic algorithms to find the optimal path to a target from a predefined spline with contraints</li>
            </ul>

            <h4>Teachers assistant</h4>
            <h5>Polytechnique Montréal <span>| Fall 2020 - Present</span></h5>
            <ul>
                <li>Assisted in the teaching of the course MEC1315</li>
                <li>Convaied the basics of linux, linear algebra in python, sql, vba and php to 60 + students</li>
            </ul>

            <h4>Tutor</h4>
            <h5>Self employed<span>| 2021 - 2022</span></h5>
            <ul>
                <li>Kept a tight schedule</li>
                <li>Communicated with clients parents</li>
                <li>Vulgarized complex scientific concepts for CEGEP students</li>
            </ul>

            <h3>Projects (TODO link somehow)</h3>
            
            <h4>SAQ</h4>
            <h5>SAQ <span>| summer 2021 and 2022</span></h5>
            <ul>
                <li>SAQ a range of SAQ from crud's for databases, a react frontend to restful hooks.</li>
                <li>SAQ a VTK SAQ to display geological information</li>
                <li>SAQ linear algebra and SAQ algorithms to find the optimal path to a target from a predefined spline with contraints</li>
            </ul>

        </div>
        <div class="right">
            <h4>COMPETENCES</h4>
            <p>Python</p>
            <p>React</p>
            <p>Docker</p>
            <p>MongoDB</p>
            <p>SQL</p>
            <p>Fastapi</p>
            <p>Flask</p>
            <p>3D modeling</p>
            <p style="margin-bottom: 2rem;">SVG graphics</p>

            <h4>Language</h4>
            <p>French</p>
            <p style="font-weight: 200;">Native proficiency</p>
            <p>Spoken and written</p>
            <br />
            <p>English</p>
            <p style="font-weight: 200;">Native proficiency</p>
            <p style="margin-bottom: 2rem;">Spoken and written</p>

            <h4>Education</h4>
            <p>Polytechnique Montréal</p>
            <p style="font-weight: 200;">Mechanical Engineering</p>
            <p>2020-2025</p>
            <br />
            <p>Microservices TODO</p>
            <p style="font-weight: 200;">testdriven.io</p>
            <p>2019</p>
        </div>
        
    </div>
</div>


{% endblock %}