{% extends 'template.html' %}

{% block head %}
<link rel="stylesheet" href="/static/splash.css" />
<script src="/static/jquery.fittext.js"></script>
<script>
    $("#welcome").fitText(3);
</script>
{% endblock %}

{% block content %}
<div class="bg"></div>
<div class="foregroud1"></div>
<div class="foregroud2"></div>
<div class="foregroud3"></div>

<div class="signatureWrapper basewidth">
    <svg viewBox="0 0 601.57 766.38">
        <g transform="translate(311.78 -40.668)">
            <path class="SD"
                d="m-233.06 207.6c103.2-54.282 110.58-109.55 105.88-124.29-4.6911-14.743-24.796-62.324-64.335 6.0314-39.539 68.356 75.206 105.83 53.946 115.71-13.372 6.2175-86.996 10.992-98.768 1.0209-8.9308-7.5642 137.97 76.439 137.97-127.25-1e-5 -94.492 176.4 129.34-34.178 128.24-4.775-0.025-11.528-2.1867-11.528-2.1867"
                fill="none" />
            <path class="asys"
                d="m7.228 161.48c-43.751-6.0434-44.46 28.763-32.443 43.191 10.916 7.5292 31.709 0.53708 32.274-15.297 0.56552-15.835-1.5552-28.983 0.7069-26.862 2.2621 2.1207 3.6425 46.816 9.4391 44.13 5.7966-2.6862 44.729-32.906 33.564-39.47-5.5692-3.2741 6.3748 29.102 15.572 35.1 9.1973 5.9982-40.574 7.2506-46.972 2.8318-6.3981-6.3981 44.004 12.693 63.037-22.724 15.327-28.522 5.0889 68.311 43.271 0.55544 8.2684-14.672-18.735 147.1-28.844 90.509-10.181-56.993 75.167-86.753 65.149-102.58-10.045-15.865-0.39987 28.392 8.7974 33.19 9.1973 4.7986-49.634 5.0044-34.438-0.99381 7.598-2.9991 60.571 9.3272 69.887-3.1584 6.577-8.8142-10.507-11.834-10.983 10.39"
                fill="none" />
            <path id="signatureExtention"
                d="m195.25 210.29c-1.5122 55.208 41.175 206.55 41.938 136.73 2.9234-65.218-84.225 196.57-84.225 196.57"
                fill="none" />
        </g>
        <path
            d="m464.74 502.93c-23.533 64.074-35.32 83.819-39.408 81.724-45.107-23.104-21.347-68.029 3.6339-68.391 40.953 0.82877 61.029 59.756-0.91274 68.451 0.88702-26.619 3.6942-30.463 8.0937-31.522 4.3994-1.059 57.355 21.973 35.724 79.69-17.721-7.0209-48.603-36.914-43.033-38.528 23.579 1.7349 59.557 48.313 66.397-24.336 2.4753-26.29 76.053 24.452 17.459 65.281-10.782 7.5129 11.525 27.001 24.19 11.026 2.83-15.709 24.601-20.516-50.027-23.317-6.9753-0.26162-13.121 47.867 2.3842 39.071 12.664-17.023-27.118-15.71-27.118-15.71s-13.374 59.741-51.693 35.887c-41.738-25.982 5.5381-72.655 33.522-58.913 26.633 16.649 48.094 126.36 48.094 126.36"
            fill="none" />
    </svg>
</div>

<div class="contentWrapper">
    <div class="aboutMe basewidth" id="aboutMe">
        <img src="/static/images/me.svg" alt="Picture of Sebastien Dasys" />
        <h3 id="welcome">Welcome to my signature website</h3>
        <p>
            My name is Sébasatien Dasys and I am a mechanical engineering student, curently studying in Montréal. This
            website is used to showcase my abilities
            and speak of prior projects I got to work on. This website is built off of Flask, Fastapi and mySQL. The
            whole thing has been dockerized. Feel free
            to go to my <a href="" style="color: blue;">Github</a> to have a look at my code.
            <br><br>
            That's all I have to say for now. Please follow my signature to learn more about me.
        </p>
    </div>

    <div class="projects basewidth" id="projects">

        <label for="project1rad">
            <input type="radio" id="project1rad" name="selectedProject" />
            <div class="projectCell" style="background-image: url('/static/images/project1.png');">
                <h3 class="title">VTK mine visualizer</h3>
                <div class="context">
                    <h4 class="compagny">Objectivity</h4>
                    <p class="description">
                        Built a page to compare exploration drill hole plans.
                        I used plotly's Dash-VTK library to present the data
                        on a 3D representation of the drill holes.
                    </p>
                </div>
            </div>
        </label>

        <label for="project2rad">
            <input type="radio" id="project2rad" name="selectedProject" />
            <div class="projectCell" style="background-image: url('/static/images/project2.png');">
                <h3 class="title">SAQ scrapper and interface</h3>
                <div class="context">
                    <h4 class="compagny">Personal project</h4>
                    <p class="description">
                        Scrapped the SAQ website to copy their inventory to a mongo database.
                        Used react and fastapi to display the products and allow to sort them
                        by price per ml of ethanol. This project has been taken down as it encourages
                        binge drinking and goes against the saq's robot.txt.
                    </p>
                </div>
            </div>
        </label>

        <label for="project3rad">
            <input type="radio" id="project3rad" name="selectedProject" />
            <div class="projectCell" style="background-image: url('/static/images/project3.png');">
                <h3 class="title">Drill hole pathfinder</h3>
                <div class="context">
                    <h4 class="compagny">Objectivity</h4>
                    <p class="description">
                        Used a genetic algorithm to determine the best possible path to reroute an
                        already started horizontal directional drill hole to a new target.
                    </p>
                </div>
            </div>
        </label>

        <label for="project4rad">
            <input type="radio" id="project4rad" name="selectedProject" />
            <div class="projectCell" style="background-image: url('/static/images/project4.png');">
                <h3 class="title">Rover motor control</h3>
                    <div class="context">
                    <h4 class="compagny">Polyorbite Rover</h4>
                    <p class="description">
                        Used ROS to control motors and set a kill switch of a rover for my universities competitve rover.
                    </p>
                </div>
            </div>
        </label>

        <label for="project5rad">
            <input type="radio" id="project5rad" name="selectedProject" />
            <div class="projectCell" style="background-image: url('/static/images/project5.png');">
                <h3 class="title">3D 360 mine display</h3>
                <div class="context">
                    <h4 class="compagny">Kelly lake gold</h4>
                    <p class="description">
                        Used blender to showcase a mines plan in a 360 video accesible through
                        Youtube.
                    </p>
                </div>
            </div>
        </label>
    </div>

    <!-- <div class="sources basewidth">
        <div class="modal">
            <p>That is it for my portflio</p>
            <div class="buttonArray">
                <button>Cover Letter</button>
                <button>CV</button>
            </div>
        </div>
    </div> -->
</div>

{% endblock %}