div.page,
div.coverLetter {
    margin-top: 150px;
    width: 100%;
    color: black;
    background-color: white;
    font-family: 'Montserrat';
    display: grid;
    grid-template-areas: "header header"
    "left right";
    grid-template-columns: 75% 25%;
}

div.coverLetter {
    padding: 3rem 2rem;
    box-sizing: border-box;
}

br {
    display: block;
    margin: 0.35rem 0;
}

div.page > div {
    padding: 1rem 2rem;
}

div.page div.header {
    background-color: #3c4d6d;
    border-bottom: rgb(52, 122, 150) solid 2px;
    color: white;
    padding: 1rem 2rem;
    grid-area: header;
}

div.page div.header h2 {
    font-weight: 800;
    font-size: 2rem;
}

div.page div.header h2 span {
    font-weight: 500;
}

div.page div.header p:first-of-type {
    margin-top: 0.6rem;
}

div.page div.header p {
    font-size: 0.9rem;
    margin-top: 0.2rem;
}

div.page div.left {
    grid-area: left;
}

div.page div.left h3 {
    margin-bottom: 0.8rem;
    font-weight: 800;
    font-size: 1.5rem;
}

div.page div.left h4 ,
div.page div.right h4 {
    margin-bottom: 0.4rem;
    font-weight: 700;
    font-size: 1.25rem;
}

div.page div.left h5 {
    margin-bottom: 0.25rem;
    font-weight: 600;
    font-size: 1rem;
}

div.page div.left ul {
    margin-bottom: 2rem;
}

div.page div.left li,
div.page div.right p {
    margin-bottom: 0.25rem;
}

div.page div.right {
    background-color: #e0e0e0;
    grid-area: right;
    text-align: center;
}
